@import "../../bass.scss";

.top_nav {
  @extend .w_100, .z_index1000;
  height: 52px;
  box-shadow: var(--shadow-elevation-1) !important;
  position: fixed;
  background-color: var(--color-background-base) !important;
}

.top_nav_menu {
  display: flex !important;
  flex-shrink: 0 !important;
  -webkit-box-align: stretch !important;
  align-items: stretch !important;
  flex-wrap: nowrap !important;
  height: 100% !important;
}

.top_nav_menu_list_one {
  display: flex !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  flex-shrink: 2 !important;
  width: 100% !important;
  -webkit-box-align: stretch !important;
  align-items: stretch !important;
  -webkit-box-pack: start !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap !important;
}

.top_nav_menu_list_two {
  display: flex !important;
  -webkit-box-flex: 2 !important;
  flex-grow: 2 !important;
  flex-shrink: 1 !important;
  width: 100% !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.top_nav_menu_list_three {
  display: flex !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  flex-shrink: 2 !important;
  width: 100% !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
}

.logo_container {
  @extend .d_flex;
  white-space: nowrap;
  user-select: none;
  padding: 0.3rem;
  display: inline-flex;
  align-items: center;
  overflow-clip-margin: content-box;
  overflow: visible;
}

.text_container {
  display: flex;
  align-items: center;
}

.main_title {
  color: var(--color-text-base);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-5);
}
