@import "../../bass.scss";

.top_nav {
  @extend .w_100, .z_index1000;
  height: 52px;
  border-bottom: 2px solid var(--color-brand-muted-smoke) !important;
}

.top_nav_menu {
  display: flex !important;
  flex-shrink: 0 !important;
  -webkit-box-align: stretch !important;
  align-items: stretch !important;
  flex-wrap: nowrap !important;
  height: 100% !important;
}

.top_nav_menu_list_one {
  display: flex !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  flex-shrink: 2 !important;
  width: 100% !important;
  -webkit-box-align: stretch !important;
  align-items: stretch !important;
  -webkit-box-pack: start !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap !important;
}

.top_nav_menu_list_two {
  display: flex !important;
  -webkit-box-flex: 2 !important;
  flex-grow: 2 !important;
  flex-shrink: 1 !important;
  width: 100% !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.top_nav_menu_list_three {
  display: flex !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  flex-shrink: 2 !important;
  width: 100% !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
}

.logo_container {
  @extend .d_flex;
  padding: 0.3rem;
  display: inline-flex;
  align-items: center;
  overflow-clip-margin: content-box;
  overflow: visible;
}

.text_container {
  display: flex;
  align-items: center;
}

.main_title {
  font-size: var(--font-size-5);
  color: var(--color-hinted-grey-1);
}

// dark theme

.dark_nav {
  box-shadow: var(--shadow-elevation-1) !important;
  background-color: var(--color-background-base);
  border-bottom: 1px solid black !important;
}

.dark_text {
  color: var(--color-white);
}
