@import "../bass.scss";

.top_nav_search_container {
  position: relative !important;
  display: flex;
  flex-basis: 30rem;
}

.search_box {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.input_box {
  padding: 0.5rem !important;
}

.search_input {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
