:root {
  --border-width-default: 1px;
  --border-width-input: 2px;
  --border-width-input-overlay-unfocused: 1px;
  --border-width-marked: 3px;
  --border-width-spinner: 2px;
  --border-width-tag: 2px;
  --border-radius-none: 0;
  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.4rem;
  --border-radius-large: 0.6rem;
  --border-radius-extra-large: 1rem;
  --border-radius-extra-extra-large: 1.6rem;
  --border-radius-rounded: 9000px;
  --break-xs: 480px;
  --break-sm: 768px;
  --break-md: 1024px;
  --break-lg: 1200px;
  --break-xl: 1440px;
  --break-xxl: 1600px;
  --color-brand-muted-ice: #d6e4ff;
  --color-brand-muted-cupcake: #ffa3ee;
  --color-brand-muted-mint: #5cffbe;
  --color-brand-muted-sky: #7aa7ff;
  --color-brand-muted-blush: #ffcdcc;
  --color-brand-muted-canary: #ebeb00;
  --color-brand-muted-smoke: #d3d3d9;
  --color-brand-muted-lavender: #d1b3ff;
  --color-brand-muted-mustard: #ffd37a;
  --color-brand-muted-emerald: #00f593;
  --color-brand-muted-coral: #ff8280;
  --color-brand-muted-ocean: #1345aa;
  --color-brand-accent-grape: #5c16c5;
  --color-brand-accent-dragonfruit: #ff38db;
  --color-brand-accent-carrot: #e69900;
  --color-brand-accent-sun: #ebeb00;
  --color-brand-accent-lime: #00f593;
  --color-brand-accent-turquoise: #00f0f0;
  --color-brand-accent-eggplant: #451093;
  --color-brand-accent-wine: #ae1392;
  --color-brand-accent-slime: #00f593;
  --color-brand-accent-seafoam: #5cffbe;
  --color-brand-accent-cherry: #eb0400;
  --color-brand-accent-marine: #1f69ff;
  --color-brand-accent-seaweed: #00a3a3;
  --color-brand-accent-pebble: #848494;
  --color-brand-accent-moon: #efeff1;
  --color-brand-accent-fiji: #5cffbe;
  --color-brand-accent-blueberry: #1f69ff;
  --color-brand-accent-arctic: #00f0f0;
  --color-brand-accent-highlighter: #f5f500;
  --color-brand-accent-flamingo: #ff38db;
  --color-brand-accent-ruby: #eb0400;
  --color-brand-accent-punch: #ffcdcc;
  --color-brand-accent-creamsicle: #ffd37a;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #e91916;
  --color-red-darker: #bb1411;
  --color-orange: #ffd37a;
  --color-yellow: #ffd37a;
  --color-green: #209722;
  --color-green-darker: #00ad96;
  --color-blue: #1f69ff;
  --color-prime-blue: #0e9bd8;
  --color-magenta: #c53dff;
  --color-error: #eb0400;
  --color-warn: #ffd37a;
  --color-info: #1f69ff;
  --color-accent: #9147ff;
  --color-twitch-purple: #9147ff;
  --color-twitch-purple-1: #040109;
  --color-twitch-purple-2: #0d031c;
  --color-twitch-purple-3: #15052e;
  --color-twitch-purple-4: #24094e;
  --color-twitch-purple-5: #330c6e;
  --color-twitch-purple-6: #451093;
  --color-twitch-purple-7: #5c16c5;
  --color-twitch-purple-8: #772ce8;
  --color-twitch-purple-9: #9147ff;
  --color-twitch-purple-10: #a970ff;
  --color-twitch-purple-11: #bf94ff;
  --color-twitch-purple-12: #d1b3ff;
  --color-twitch-purple-13: #e3d1ff;
  --color-twitch-purple-14: #ede0ff;
  --color-twitch-purple-15: #f3ebff;
  --color-hinted-grey-1: #0e0e10;
  --color-hinted-grey-2: #18181b;
  --color-hinted-grey-3: #1f1f23;
  --color-hinted-grey-4: #26262c;
  --color-hinted-grey-5: #323239;
  --color-hinted-grey-6: #3b3b44;
  --color-hinted-grey-7: #53535f;
  --color-hinted-grey-8: #848494;
  --color-hinted-grey-9: #adadb8;
  --color-hinted-grey-10: #c8c8d0;
  --color-hinted-grey-11: #d3d3d9;
  --color-hinted-grey-12: #dedee3;
  --color-hinted-grey-13: #e6e6ea;
  --color-hinted-grey-14: #efeff1;
  --color-hinted-grey-15: #f7f7f8;
  --color-transparent: transparent;
  --color-opac-b-1: rgba(0, 0, 0, 0.05);
  --color-opac-b-2: rgba(0, 0, 0, 0.08);
  --color-opac-b-3: rgba(0, 0, 0, 0.13);
  --color-opac-b-4: rgba(0, 0, 0, 0.16);
  --color-opac-b-5: rgba(0, 0, 0, 0.22);
  --color-opac-b-6: rgba(0, 0, 0, 0.28);
  --color-opac-b-7: rgba(0, 0, 0, 0.4);
  --color-opac-b-8: rgba(0, 0, 0, 0.5);
  --color-opac-b-9: rgba(0, 0, 0, 0.6);
  --color-opac-b-10: rgba(0, 0, 0, 0.7);
  --color-opac-b-11: rgba(0, 0, 0, 0.75);
  --color-opac-b-12: rgba(0, 0, 0, 0.8);
  --color-opac-b-13: rgba(0, 0, 0, 0.85);
  --color-opac-b-14: rgba(0, 0, 0, 0.9);
  --color-opac-b-15: rgba(0, 0, 0, 0.95);
  --color-opac-gd-1: rgba(83, 83, 95, 0.38);
  --color-opac-gd-2: rgba(83, 83, 95, 0.48);
  --color-opac-gd-3: rgba(83, 83, 95, 0.55);
  --color-opac-gd-4: rgba(50, 50, 57, 0.62);
  --color-opac-gd-5: rgba(50, 50, 57, 0.95);
  --color-opac-gl-1: hsla(240, 7%, 70%, 0.22);
  --color-opac-gl-2: hsla(240, 7%, 70%, 0.35);
  --color-opac-gl-3: hsla(240, 7%, 70%, 0.43);
  --color-opac-gl-4: hsla(240, 8%, 88%, 0.4);
  --color-opac-gl-5: hsla(240, 8%, 88%, 0.95);
  --color-opac-w-1: hsla(0, 0%, 100%, 0.05);
  --color-opac-w-2: hsla(0, 0%, 100%, 0.08);
  --color-opac-w-3: hsla(0, 0%, 100%, 0.13);
  --color-opac-w-4: hsla(0, 0%, 100%, 0.16);
  --color-opac-w-5: hsla(0, 0%, 100%, 0.22);
  --color-opac-w-6: hsla(0, 0%, 100%, 0.28);
  --color-opac-w-7: hsla(0, 0%, 100%, 0.4);
  --color-opac-w-8: hsla(0, 0%, 100%, 0.5);
  --color-opac-w-9: hsla(0, 0%, 100%, 0.6);
  --color-opac-w-10: hsla(0, 0%, 100%, 0.7);
  --color-opac-w-11: hsla(0, 0%, 100%, 0.75);
  --color-opac-w-12: hsla(0, 0%, 100%, 0.8);
  --color-opac-w-13: hsla(0, 0%, 100%, 0.85);
  --color-opac-w-14: hsla(0, 0%, 100%, 0.9);
  --color-opac-w-15: hsla(0, 0%, 100%, 0.95);
  --color-opac-p-1: rgba(92, 22, 197, 0.05);
  --color-opac-p-2: rgba(92, 22, 197, 0.1);
  --color-opac-p-3: rgba(92, 22, 197, 0.15);
  --color-opac-p-4: rgba(92, 22, 197, 0.2);
  --color-opac-p-5: rgba(92, 22, 197, 0.25);
  --color-opac-p-6: rgba(92, 22, 197, 0.3);
  --color-opac-p-7: rgba(92, 22, 197, 0.4);
  --color-opac-p-8: rgba(92, 22, 197, 0.5);
  --color-opac-p-9: rgba(92, 22, 197, 0.6);
  --color-opac-p-10: rgba(92, 22, 197, 0.7);
  --color-opac-p-11: rgba(92, 22, 197, 0.75);
  --color-opac-p-12: rgba(92, 22, 197, 0.8);
  --color-opac-p-13: rgba(92, 22, 197, 0.85);
  --color-opac-p-14: rgba(92, 22, 197, 0.9);
  --color-opac-p-15: rgba(92, 22, 197, 0.95);
  --color-orange-1: #050301;
  --color-orange-2: #090601;
  --color-orange-3: #120d02;
  --color-orange-4: #251a04;
  --color-orange-5: #372706;
  --color-orange-6: #453008;
  --color-orange-7: #65470b;
  --color-orange-8: #7c570e;
  --color-orange-9: #9e6900;
  --color-orange-10: #c28100;
  --color-orange-11: #e69900;
  --color-orange-12: #ffb31a;
  --color-orange-13: #ffd37a;
  --color-orange-14: #ffdf9e;
  --color-orange-15: #ffebc2;
  --color-yellow-1: #050501;
  --color-yellow-2: #090901;
  --color-yellow-3: #0e0e02;
  --color-yellow-4: #1c1c03;
  --color-yellow-5: #292905;
  --color-yellow-6: #373706;
  --color-yellow-7: #4e4e09;
  --color-yellow-8: #60600b;
  --color-yellow-9: #7a7a00;
  --color-yellow-10: #949400;
  --color-yellow-11: #adad00;
  --color-yellow-12: #c7c700;
  --color-yellow-13: #e0e000;
  --color-yellow-14: #ebeb00;
  --color-yellow-15: #f5f500;
  --color-green-1: #010503;
  --color-green-2: #010906;
  --color-green-3: #02120c;
  --color-green-4: #042015;
  --color-green-5: #063221;
  --color-green-6: #074029;
  --color-green-7: #0a5738;
  --color-green-8: #016b40;
  --color-green-9: #018852;
  --color-green-10: #00a865;
  --color-green-11: #00c274;
  --color-green-12: #00db84;
  --color-green-13: #00f593;
  --color-green-14: #5cffbe;
  --color-green-15: #a8ffdc;
  --color-cyan-1: #010505;
  --color-cyan-2: #010909;
  --color-cyan-3: #021212;
  --color-cyan-4: #042020;
  --color-cyan-5: #052e2e;
  --color-cyan-6: #073c3c;
  --color-cyan-7: #095353;
  --color-cyan-8: #0c6a6a;
  --color-cyan-9: #018383;
  --color-cyan-10: #00a3a3;
  --color-cyan-11: #00b8b8;
  --color-cyan-12: #00d6d6;
  --color-cyan-13: #00f0f0;
  --color-cyan-14: #2effff;
  --color-cyan-15: #94ffff;
  --color-blue-1: #010205;
  --color-blue-2: #020712;
  --color-blue-3: #040d20;
  --color-blue-4: #071a40;
  --color-blue-5: #0a255c;
  --color-blue-6: #0d3177;
  --color-blue-7: #1345aa;
  --color-blue-8: #1756d3;
  --color-blue-9: #1f69ff;
  --color-blue-10: #528bff;
  --color-blue-11: #7aa7ff;
  --color-blue-12: #a3c2ff;
  --color-blue-13: #c7daff;
  --color-blue-14: #d6e4ff;
  --color-blue-15: #e5eeff;
  --color-magenta-1: #050104;
  --color-magenta-2: #12020f;
  --color-magenta-3: #20041b;
  --color-magenta-4: #37062e;
  --color-magenta-5: #4e0941;
  --color-magenta-6: #650b55;
  --color-magenta-7: #8a0f73;
  --color-magenta-8: #ae1392;
  --color-magenta-9: #c516a5;
  --color-magenta-10: #ff38db;
  --color-magenta-11: #ff75e6;
  --color-magenta-12: #ffa3ee;
  --color-magenta-13: #ffc7f5;
  --color-magenta-14: #ffd6f8;
  --color-magenta-15: #ffe5fa;
  --color-red-1: #050101;
  --color-red-2: #120202;
  --color-red-3: #200404;
  --color-red-4: #3c0807;
  --color-red-5: #530a09;
  --color-red-6: #6e0e0c;
  --color-red-7: #971311;
  --color-red-8: #bb1411;
  --color-red-9: #eb0400;
  --color-red-10: #ff4f4d;
  --color-red-11: #ff8280;
  --color-red-12: #ffaaa8;
  --color-red-13: #ffcdcc;
  --color-red-14: #ffdcdb;
  --color-red-15: #ffe6e5;
  --color-twitter: #1da1f2;
  --color-facebook: #3b5998;
  --color-reddit: #ff4500;
  --color-snapchat: #fffc00;
  --color-instagram: #405de6;
  --color-youtube: #cd201f;
  --color-paypal: #009cde;
  --color-paypal-blue: #009cde;
  --color-paypal-yellow: #fcc439;
  --color-venmo: #008cff;
  --color-vk: #45668e;
  --color-amazon: #fad677;
  --button-size-small: 2.4rem;
  --button-size-default: 3rem;
  --button-size-large: 3.6rem;
  --button-text-small: 1.2rem;
  --button-text-default: 1.3rem;
  --button-text-large: 1.4rem;
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --input-text-small: 1rem;
  --input-text-default: 1rem;
  --input-text-large: 1.4rem;
  --input-size-xsmall: 1.5rem;
  --input-size-small: 2.4rem;
  --input-size-default: 3rem;
  --input-size-large: 3.6rem;
  --font-base: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-display: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-mono: monospace;
  --font-size-1: 5.4rem;
  --font-size-2: 3.6rem;
  --font-size-3: 2.4rem;
  --font-size-4: 1.8rem;
  --font-size-5: 1.4rem;
  --font-size-6: 1.3rem;
  --font-size-7: 1.2rem;
  --font-size-8: 1rem;
  --font-size-9: 0.9rem;
  --font-size-10: 0.7rem;
  --font-size-base: 1.3rem;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --font-weight-hdr: 400;
  --line-height-body: 1.5;
  --line-height-heading: 1.2;
  --base-rem-unit: 10;
  --grid-columns: 12;
  --grid-gutter-width: 1.5rem;
  --grid-gutter-width-lg: 2rem;
  --grid-gutter-width-sm: 1rem;
  --grid-gutter-width-xs: 0.5rem;
  --opac-1: 0.05;
  --opac-2: 0.1;
  --opac-3: 0.15;
  --opac-4: 0.2;
  --opac-5: 0.25;
  --opac-6: 0.3;
  --opac-7: 0.4;
  --opac-8: 0.5;
  --opac-9: 0.6;
  --opac-10: 0.7;
  --opac-11: 0.75;
  --opac-12: 0.8;
  --opac-13: 0.85;
  --opac-14: 0.9;
  --opac-15: 0.95;
  --space-0: 0;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;
  --space-6: 6rem;
  --space-7: 7rem;
  --space-8: 8rem;
  --space-9: 9rem;
  --space-10: 10rem;
  --space-auto: auto;
  --space-05: 0.5rem;
  --timing-short: 200ms;
  --timing-medium: 500ms;
  --timing-long: 1000ms;
  --z-index-modal: 5000;
  --z-index-notification: 4000;
  --z-index-overlay: 3000;
  --z-index-balloon: 2000;
  --z-index-sticky: 1000;
  --z-index-above: 10;
  --z-index-default: 1;
  --z-index-below: -1;
}

//
///
///
///
///
///
///
:root[color-theme="light"] {
  --color-default-background: var(--color-opac-gl-2);
  --color-modal-default-background: var(--color-opac-gl-2);
  --color-modal-default-text: var(--color-hinted-grey-2);
  --color-border-brand: var(--color-green);
  --color-background-button: var(--color-opac-w-14);

  --color-backvground-button-status: var(--color-background-button-success);
  --color-background-button-status-hover: var(
    --color-background-button-error-hover
  );
  --color-background-button-status-focus: var(
    --color-background-button-error-hover
  );
  --color-background-button-status-active: var(
    --color-background-button-error-active
  );

  --color-background-button-success-focus: var(--color-green-darker);

  --color-text-button: var(--color-white);
  --color-text-button-hover: var(--color-white);
  --color-text-button-focus: var(--color-white);
  --color-text-button-active: var(--color-white);
  --color-text-button-secondary-hover: var(--color-hinted-grey-9);
  --color-text-button-secondary-focus: var(--color-hinted-grey-9);
  --color-text-button-secondary-active: var(--color-hinted-grey-9);
  --color-text-button-text-focus: var(--color-opac-p-1);
  --color-text-button-text-active: var(--color-transparent);
  --color-text-button-status: var(--color-white);
  --color-text-button-status-hover: var(--color-white);
  --color-text-button-status-focus: var(--color-white);
  --color-text-button-status-active: var(--color-white);
  --color-text-button-success-hover: var(--color-black);
  --color-text-button-success-focus: var(--color-black);
  --color-text-button-success-active: var(--color-black);
  --color-text-button-alert: var(--color-black);
  --color-text-button-alert-hover: var(--color-black);
  --color-text-button-alert-focus: var(--color-black);
  --color-text-button-alert-active: var(--color-black);
  --color-text-button-overlay: var(--color-white);
  --color-text-button-overlay-hover: var(--color-white);
  --color-text-button-overlay-focus: var(--color-white);
  --color-text-button-overlay-active: var(--color-white);
  --color-text-interactable: currentColor;
  --color-text-interactable-hover: var(--color-white);
  --color-text-interactable-active: var(--color-white);
  --color-text-interactable-inverted: var(--color-white);
  --color-text-input-focus: transparent;
  --color-border-button: var(--color-twitch-purple-7);
  --color-border-button-hover: var(--color-twitch-purple-8);
  --color-border-button-focus: var(--color-twitch-purple-9);
  --color-border-button-active: var(--color-twitch-purple-8);
  --color-border-button-disabled: var(--color-opac-b-1);
  --color-border-button-status: var(--color-green);
  --color-border-button-status-hover: var(--color-red-darker);
  --color-border-button-status-focus: var(--color-red-darker);
  --color-border-button-status-active: var(--color-red);
  --color-border-button-success: var(--color-green);
  --color-border-button-success-hover: var(--color-green);
  --color-border-button-success-focus: var(--color-green);
  --color-border-button-success-active: var(--color-green);
  --color-border-button-alert: var(--color-red);
  --color-border-button-alert-hover: var(--color-red-darker);
  --color-border-button-alert-focus: var(--color-red-darker);
  --color-border-button-alert-active: var(--color-red);
  --color-border-button-overlay: var(--color-transparent);
  --color-border-button-overlay-hover: var(--color-transparent);
  --color-border-button-overlay-focus: var(--color-opac-w-6);
  --color-border-button-overlay-active: var(--color-opac-w-9);
  --color-border-button-overlay-bordered: var(--color-white);
  --color-border-interactable-selected: var(--color-twitch-purple-9);
  --shadow-input: inset 0 0 0 1px var(--color-hinted-grey-12);
  --shadow-input-error: 0 0 8px -2px var(--color-border-error);
  --shadow-input-focus: 0 0 10px -2px var(--color-border-brand);
  --shadow-input-error-focus: 0 0 6px -3px var(--color-border-error);
  --shadow-interactable-focus: 0 0 6px 1px var(--color-twitch-purple-8);

  --color-background-body: var(--color-hinted-grey-15);
  --color-background-base: var(--color-white);
  --color-background-alt: var(--color-hinted-grey-14);
  --color-background-alt-2: var(--color-hinted-grey-13);
  --color-background-float: var(--color-white);
  --color-background-accent: var(--color-twitch-purple-8);
  --color-background-accent-alt: var(--color-twitch-purple-7);
  --color-background-accent-alt-2: var(--color-twitch-purple-6);
  --color-background-placeholder: var(--color-opac-gl-1);
  --color-background-overlay-placeholder: var(--color-opac-w-3);
  --color-background-live: var(--color-red);
  --color-background-prime: var(--color-prime-blue);
  --color-background-error: var(--color-red-11);
  --color-background-warn: var(--color-orange-13);
  --color-background-success: var(--color-green-13);
  --color-background-info: var(--color-blue-12);
  --color-background-brand: var(--color-twitch-purple-11);
  --color-background-overlay-error: var(--color-red-11);
  --color-background-overlay-warn: var(--color-orange-13);
  --color-background-overlay-success: var(--color-green-13);
  --color-background-overlay-info: var(--color-blue-12);
  --color-background-overlay-brand: var(--color-twitch-purple-11);
  --color-background-interactable-hover: var(--color-opac-gl-2);
  --color-background-interactable-active: var(--color-opac-gl-3);
  --color-background-interactable-selected: var(
    --color-background-button-brand
  );
  --color-background-interactable-overlay-hover: var(--color-opac-w-3);
  --color-background-interactable-overlay-active: var(--color-opac-w-4);
  --color-background-interactable-overlay-selected: var(--color-white);
  --color-background-interactable-destructive-hover: var(--color-red-darker);
  --color-background-interactable-destructive-active: var(--color-red);
  --color-background-button-primary-default: var(
    --color-background-button-brand
  );
  --color-background-button-primary-hover: var(
    --color-background-button-brand-hover
  );
  --color-background-button-primary-active: var(
    --color-background-button-brand-active
  );
  --color-background-button-secondary-default: var(--color-opac-gl-1);
  --color-background-button-secondary-hover: var(--color-opac-gl-2);
  --color-background-button-secondary-active: var(--color-opac-gl-3);
  --color-background-button-text-default: var(--color-transparent);
  --color-background-button-text-hover: var(
    --color-background-interactable-hover
  );
  --color-background-button-text-active: var(
    --color-background-interactable-active
  );
  --color-background-button-destructive-default: var(
    --color-background-button-error
  );
  --color-background-button-destructive-hover: var(
    --color-background-button-error-hover
  );
  --color-background-button-destructive-active: var(
    --color-background-button-error-active
  );
  --color-background-button-error: var(--color-red-10);
  --color-background-button-error-hover: var(--color-red-12);
  --color-background-button-error-active: var(--color-red-14);
  --color-background-button-warn: var(--color-orange-12);
  --color-background-button-warn-hover: var(--color-orange-14);
  --color-background-button-warn-active: var(--color-orange-15);
  --color-background-button-success: var(--color-green-12);
  --color-background-button-success-hover: var(--color-green-14);
  --color-background-button-success-active: var(--color-green-15);
  --color-background-button-info: var(--color-blue-11);
  --color-background-button-info-hover: var(--color-blue-13);
  --color-background-button-info-active: var(--color-blue-15);
  --color-background-button-brand: var(--color-green-10);
  --color-background-button-brand-hover: var(--color-green-11);
  --color-background-button-brand-active: var(--color-green-12);
  --color-background-button-overlay-primary-default: var(--color-white);
  --color-background-button-overlay-primary-hover: var(--color-opac-w-14);
  --color-background-button-overlay-primary-active: var(--color-opac-w-13);
  --color-background-button-overlay-secondary-default: var(--color-opac-w-3);
  --color-background-button-overlay-secondary-hover: var(
    --color-background-interactable-overlay-hover
  );
  --color-background-button-overlay-secondary-active: var(
    --color-background-interactable-overlay-active
  );
  --color-background-button-overlay-text-default: var(--color-transparent);
  --color-background-button-overlay-text-hover: var(
    --color-background-interactable-overlay-hover
  );
  --color-background-button-overlay-text-active: var(
    --color-background-interactable-overlay-active
  );
  --color-background-button-overlay-error: var(--color-background-button-error);
  --color-background-button-overlay-error-hover: var(
    --color-background-button-error-hover
  );
  --color-background-button-overlay-error-active: var(
    --color-background-button-error-active
  );
  --color-background-button-overlay-warn: var(--color-background-button-warn);
  --color-background-button-overlay-warn-hover: var(
    --color-background-button-warn-hover
  );
  --color-background-button-overlay-warn-active: var(
    --color-background-button-warn-active
  );
  --color-background-button-overlay-success: var(
    --color-background-button-success
  );
  --color-background-button-overlay-success-hover: var(
    --color-background-button-success-hover
  );
  --color-background-button-overlay-success-active: var(
    --color-background-button-success-active
  );
  --color-background-button-overlay-info: var(--color-background-button-info);
  --color-background-button-overlay-info-hover: var(
    --color-background-button-info-hover
  );
  --color-background-button-overlay-info-active: var(
    --color-background-button-info-active
  );
  --color-background-button-overlay-brand: var(--color-white);
  --color-background-button-overlay-brand-hover: var(--color-opac-w-14);

  --color-background-button-disabled: var(--color-opac-gl-1);
  --color-background-button-overlay-disabled: var(--color-opac-w-2);

  --color-background-input: var(--color-opac-b-2);
  --color-background-input-focus: var(--color-white);

  --color-background-overlay: var(--color-opac-b-9);

  --color-background-modal-overlay: var(--color-opac-b-13);

  --color-text-base: var(--color-hinted-grey-1);
  --color-text-alert: var(--color-text-accessible-red);
  --color-text-prime: var(--color-prime-blue);
  --color-text-error: var(--color-red-7);
  --color-text-warn: var(--color-orange-7);
  --color-text-success: var(--color-green-7);
  --color-text-info: var(--color-blue-7);
  --color-text-brand: var(--color-twitch-purple-7);

  --color-text-button-primary: var(--color-white);
  --color-text-button-secondary: var(--color-text-base);
  --color-text-button-text: var(--color-text-brand);

  --color-text-input: var(--color-text-base);
  --color-text-input-placeholder: var(--color-opac-b-10);
  --color-text-input-placeholder-overlay: var(--color-opac-w-10);
  --color-text-input-checked-icon: var(--color-white);

  --color-text-label: var(--color-hinted-grey-2);
  --color-text-label-optional: var(--color-hinted-grey-7);
  --color-text-hint: var(--color-hinted-grey-7);
  --color-text-tag: var(--color-opac-b-10);

  --color-text-tooltip: var(--color-hinted-grey-14);
  --color-text-overlay: var(--color-white);
  --color-text-overlay-alt: var(--color-opac-w-13);
  --color-text-overlay-link: var(--color-white);
  --color-text-overlay-link-hover: var(--color-opac-w-12);
  --color-text-overlay-link-active: var(--color-white);
  --color-text-overlay-link-focus: var(--color-opac-w-12);
  --color-text-overlay-link-visited: var(--color-white);

  --color-border-base: var(--color-opac-gl-2);
  --color-border-region: var(--color-hinted-grey-12);
  --color-border-overlay: var(--color-opac-w-5);
  --color-border-alert: var(--color-red);
  --color-border-error: var(--color-red-8);
  --color-border-warn: var(--color-orange-8);
  --color-border-success: var(--color-green-8);
  --color-border-info: var(--color-blue-8);
  --color-border-overlay-success: var(--color-green-12);
  --color-border-overlay-info: var(--color-blue-10);
  --color-border-overlay-brand: var(--color-white);

  --color-border-input: var(--color-opac-b-2);
  --color-border-input-hover: var(--color-opac-b-4);
  --color-border-input-focus: var(--color-border-brand);
  --color-border-input-error: var(--color-border-error);
  --color-border-input-overlay: var(--color-opac-w-6);
  --color-border-input-overlay-hover: var(--color-opac-w-8);
  --color-border-input-overlay-focus: var(--color-white);

  --shadow-elevation-1: 0 1px 2px var(--color-opac-b-3),
    0 0px 2px var(--color-opac-b-2);
  --shadow-elevation-2: 0 4px 8px var(--color-opac-b-4),
    0 0px 4px var(--color-opac-b-1);
  --shadow-elevation-3: 0 6px 16px var(--color-opac-b-4),
    0 0px 4px var(--color-opac-b-1);
  --shadow-elevation-4: 0 12px 32px var(--color-opac-b-4),
    0 0px 8px var(--color-opac-b-1);
  --shadow-elevation-5: 0 32px 64px var(--color-opac-b-4),
    0 0px 16px var(--color-opac-b-1);
}

///
///
///
///
///
///
///
///
///
///
///
///
///
///
:root[color-theme="dark"] {
  --color-default-background: var(--color-opac-gd-3);
  --color-modal-default-background: var(--color-opac-gd-2);
  --color-modal-default-text: var(--color-hinted-grey-15);
  --color-background-button: var(--color-black);
  --color-border-brand: var(--color-green);

  --color-background-button-primary-default: var(
    --color-background-button-brand
  );
  --color-background-modal-overlay: var(--color-opac-b-13);

  --color-text-button: var(--color-white);
  --color-text-button-hover: var(--color-white);
  --color-text-button-focus: var(--color-white);
  --color-text-button-active: var(--color-white);

  --color-text-button-text-focus: var(--color-opac-w-1);
  --color-text-button-text-active: var(--color-opac-p-2);
  --color-text-button-status: var(--color-white);
  --color-text-button-status-hover: var(--color-white);
  --color-text-button-status-focus: var(--color-white);
  --color-text-button-status-active: var(--color-white);
  --color-text-button-success-hover: var(--color-black);
  --color-text-button-success-focus: var(--color-black);
  --color-text-button-success-active: var(--color-black);

  --color-background-body: var(--color-hinted-grey-1);
  --color-background-base: var(--color-hinted-grey-2);
  --color-background-alt: var(--color-hinted-grey-3);
  --color-background-alt-2: var(--color-hinted-grey-4);
  --color-background-float: var(--color-hinted-grey-3);
  --color-background-placeholder: var(--color-opac-gd-1);
  --color-background-overlay-placeholder: var(--color-opac-w-3);
  --color-background-prime: var(--color-prime-blue);
  --color-background-error: var(--color-red-11);
  --color-background-warn: var(--color-orange-13);
  --color-background-success: var(--color-green-13);
  --color-background-info: var(--color-blue-12);
  --color-background-button-error: var(--color-red-10);
  --color-background-button-error-hover: var(--color-red-12);
  --color-background-button-error-active: var(--color-red-14);
  --color-background-button-warn: var(--color-orange-12);
  --color-background-button-warn-hover: var(--color-orange-14);
  --color-background-button-warn-active: var(--color-orange-15);
  --color-background-button-success: var(--color-green-12);
  --color-background-button-success-hover: var(--color-green-14);
  --color-background-button-success-active: var(--color-green-15);

  --color-background-button-info: var(--color-blue-11);
  --color-background-button-info-hover: var(--color-blue-13);
  --color-background-button-info-active: var(--color-blue-15);
  --color-background-button-brand: var(--color-green);

  --color-background-button-disabled: var(--color-opac-gd-1);
  --color-background-button-overlay-disabled: var(--color-opac-w-2);

  --color-background-input: var(--color-opac-w-4);
  --color-background-input-focus: var(--color-black);

  --color-background-scrollbar: var(--color-opac-w-8);
  --color-background-hover: var(--color-opac-w-3);
  --color-text-base: var(--color-hinted-grey-14);
  --color-text-alt: var(--color-hinted-grey-12);
  --color-text-alt-2: var(--color-hinted-grey-9);
  --color-text-link: var(--color-twitch-purple-11);

  --color-text-prime: var(--color-prime-blue);
  --color-text-error: var(--color-red-11);
  --color-text-warn: var(--color-orange-11);
  --color-text-success: var(--color-green-11);
  --color-text-info: var(--color-blue-11);
  --color-text-brand: var(--color-twitch-purple-11);

  --color-text-button-primary: var(--color-white);
  --color-text-button-secondary: var(--color-text-base);
  --color-text-button-text: var(--color-text-brand);
  --color-text-button-text-hover: var(--color-text-base);
  --color-text-button-success: var(--color-black);

  --color-text-button-disabled: var(--color-hinted-grey-9);

  --color-text-input: var(--color-text-base);
  --color-text-input-placeholder: var(--color-opac-w-10);
  --color-text-hint: var(--color-hinted-grey-8);
  --color-text-tooltip: var(--color-hinted-grey-1);

  --color-border-base: var(--color-opac-gd-2);

  --color-border-overlay-error: var(--color-red-10);
  --color-border-overlay-warn: var(--color-orange-12);
  --color-border-overlay-success: var(--color-green-12);
  --color-border-overlay-info: var(--color-blue-10);
  --color-border-overlay-brand: var(--color-white);

  --color-border-input: var(--color-opac-w-4);
  --color-border-input-hover: var(--color-opac-w-6);
  --color-border-input-focus: var(--color-border-brand);
  --color-border-input-error: var(--color-border-error);
  --color-border-input-overlay: var(--color-opac-w-6);
  --color-border-input-overlay-hover: var(--color-opac-w-8);
  --color-border-input-overlay-focus: var(--color-white);

  --shadow-elevation-1: 0 1px 2px var(--color-opac-b-14),
    0 0px 2px var(--color-opac-b-14);
  --shadow-elevation-2: 0 4px 8px var(--color-opac-b-7),
    0 0px 4px var(--color-opac-b-7);
  --shadow-elevation-3: 0 6px 16px var(--color-opac-b-8),
    0 0px 4px var(--color-opac-b-7);
  --shadow-elevation-4: 0 12px 32px var(--color-opac-b-8),
    0 0px 8px var(--color-opac-b-7);
  --shadow-elevation-5: 0 32px 64px var(--color-opac-b-9),
    0 0px 16px var(--color-opac-b-7);
}
