@import "../../../../bass.scss";

.darkmode_container {
  @extend .w_100, .h_100, .flex_center_center;
  cursor: pointer;
  padding-bottom: 15px;
}

.darkmode_label {
  @extend .d_flex, .w_100, .h_100;
  padding-right: 25px;
  gap: 5px;
}

.darkmode_text {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-semibold);
}
